twitterFeedFetch.json
[{"id":"dbcbbca.e51f5c","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"ca35f943.8b1898","type":"twitter-credentials","z":"","screen_name":"@ImgCanBeReal"},{"id":"e45816c2.1a1ca","type":"twitter in","z":"dbcbbca.e51f5c","twitter":"ca35f943.8b0898","tags":"","user":"false","name":"","topic":"tweets","inputs":1,"x":230,"y":200,"wires":[["1ed58695.1c35f1"]]},{"id":"1ed58695.1c35f1","type":"debug","z":"dbcbbca.e51f5c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":540,"y":280,"wires":[]},{"id":"57f7eb85.8a1cdc","type":"inject","z":"dbcbbca.e51f5c","name":"","topic":"","payload":"@FCBarcelona","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":"5","x":160,"y":80,"wires":[["e45816c2.1a1ca"]]}]
